<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. -->
<div class="fullscreen" id="homeView">
        <div class="col-md-6" id="homeDescriptionBox">
          <h3>A Home Dinner Service</h3>
          <hr id="lineBreak">
          <p>Lorem ipsum dolor sit amet, ut mei eros tacimates,
  			       ancillae suavitate necessitatibus has id. Id duo suscipit persecuti, pro cu noluisse honestatis. Vim tale molestie ei, te has sadipscing persequeris complectitur.
  			   Mutat oratio vocent at his, eu reque etiam accusamus mel.
          </p>
          <br>
          <p>start quickly</p>
          <a href="#/search" class="btn btn-default" id="newDinnerButton" type="submit">Create new dinner</a>
      </div>
    </div>
